* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1920px;
    margin: auto;
}
a{
    text-decoration: none;
}
a:link{
    color: #000;
}
a:hover{
    color: #000;
}
a:visited{
    color: #000;
}
a:active{
    color: #000;
}
.nav {
    position: relative;
    height: 80px;
    background-color: #fff;
    font-size: 20px;
    font-family: 'PingFang SC';
}
.nav a{
    font-size: 20px;
    font-family: 'PingFang SC';
}
.pic{
    position: absolute;
    left: 300px;
    height: 80px;
    width: 80px;
}
.pic img{
    width: 80px;
}
.home{
    position: absolute;
    left: 400px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.stacks{
    position: absolute;
    left: 500px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.borrow{
    position: absolute;
    left: 600px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.friendCircle{
    position: absolute;
    left: 700px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.nav span{
    cursor: pointer;
}
.navMain span:hover{
    border-bottom: #3f74b3 solid 2px;
}
.search{
    position: absolute;
    left: 900px;
    height: 80px;
    line-height: 80px;
}
.search input{
    padding: 3px;
    height: 30px;
    width: 230px;
    border: 0px;
    border-radius: 5px;
    background: #A8D6F7;
}
.icon-sousuo1{
    font-size: 20px;
}
#searchIcon{
    position: absolute;
    left: 210px;
    top: 3px;
}
.personal{
    position: absolute;
    left: 1300px;
    height: 80px;
}
.personal img{
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 10px;
    height: 60px;
    border-radius: 50%;
}
.message{
    position: absolute;
    top: 23px;
    left: 1290px;
}
.nav .iconfont {
    font-size: 30px;
}
.subject{
    position: absolute;
    left: 1340px;
    top: 23px;
}
.icon-yejian{
    font-size: 30px;
}
.logReg{
    position: absolute;
    left: 1390px;
    top: 25px;
}
.hiddenLog{
    display: none;
}

.document {
    position: relative;
    width: 100%;
    height: 1720px;
    background: #E4F4F4;
}

.top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: black;
}

.middle {
    position: relative;
    top: 65px;
    width: 100%;
    height: 1655px;
    background: #E4F4F4;
}

.content {
    position: absolute;
    left: 50%;
    margin-left: -590px;
    width: 1180px;
    height: 1655px;
    background: #E4F4F4;
}

.sectionOne {
    position: relative;
    width: 1180px;
    height: 355px;
    border-bottom: 1px solid #94a6b4;
}

.picture {
    position: absolute;
    top: 65px;
    width: 200px;
    height: 250px;
    background-color: #cdd9e5;
}

.picture img {
    width: 200px;
    height: 250px;
}

.sectionOne p {
    position: absolute;
    left: 250px;
    width: 160.47px;
    height: 25px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.one {
    top: 117px;
}

.two {
    top: 187px;
}

.three {
    top: 257px;
}

.buttonOne {
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonTwo {
    position: absolute;
    top: 170px;
    right: 0;
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonThree {
    position: absolute;
    top: 275px;
    right: 0;
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOne a {
    left: 55px;
}

.buttonTwo a {
    left: 55px;
}

.buttonThree a {
    left: 55px;
}

a {
    position: relative;
    font: 100 40px "楷体";
    color: white;
    text-decoration: none;
}

.sectionTwo {
    position: relative;
    width: 1180px;
    height: 288px;
    border-bottom: 1px solid #fff;
}

.titleBox {
    position: absolute;
    top: 15px;
    width: 200px;
    height: 35px;
    background-color: #fff;
    border-radius: 17.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titleBox p {
    font: 100 30px "隶书";
    color: #52606d;
}

.textTwo {
    position: absolute;
    bottom:0;
    width: 1160px;
    height: 190px;
}

.textTwo p {
    position: absolute;
    left: 20px;
    font: 100 15px "宋体";
    color: #000;
}

.sectionThree {
    position: relative;
    width: 1180px;
    height: 288px;
    border-bottom: 1px solid #94a6b4;
}

.sectionFour {
    position: relative;
    width: 1180px;
    height: 580px;
}

.profilePhotoOne {
    position: absolute;
    top: 100px;
    width: 60px;
    height: 70px;
    background-color: #c5ccd6;
}

.profilePhotoTwo {
    position: absolute;
    top: 250px;
    width: 60px;
    height: 70px;
    background-color: #c5ccd6;
}

.profilePhotoThree {
    position: absolute;
    top: 400px;
    width: 60px;
    height: 70px;
    background-color: #c5ccd6;
}

.commentOne {
    position: absolute;
    top: 100px;
    right: 0;
    width: 1085px;
    height: 80px;
    border-bottom: 1px solid #94a6b4;
}

.commentTwo {
    position: absolute;
    top: 250px;
    right: 0;
    width: 1085px;
    height: 80px;
    border-bottom: 1px solid #94a6b4;
}

.commentThree {
    position: absolute;
    top: 400px;
    right: 0;
    width: 1085px;
    height: 80px;
    border-bottom: 1px solid #94a6b4;
}

.timeOne {
    position: absolute;
    top: 100px;
    left: 80px;
    font: 100 20px "隶书";
    color: #52606d;
}

.timeTwo {
    position: absolute;
    top: 250px;
    left: 80px;
    font: 100 20px "隶书";
    color: #52606d;
}

.timeThree {
    position: absolute;
    top: 400px;
    left: 80px;
    font: 100 20px "隶书";
    color: #52606d;
}

.sectionFive {
    position: relative;
    width: 1180px;
    height: 55px;
}

.buttonFour {
    position: absolute;
    left: 0;
    width: 1030px;
    height: 55px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonFive {
    position: absolute;
    right: 0;
    width: 110px;
    height: 55px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer{
    position: relative;
    height: 425px;
    background: #C6D0D1;
}
.footer ul{
    position: absolute;
    top: 94px;
    left: 50%;
    transform: translateX(-50%);
}
.footer li{
    display: inline-block;
    margin-right: 10px;
    padding-right: 20px;
    list-style: none;
    font-size: 24px;
    border-right: #fff solid 5px;
}
.footer .footLast{
    border-right: #fff solid 0px;
}
.copyRight{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}
.footer a{
    font-size: 24px;
    font-family: 'PingFang SC';
}