        * {
            margin: 0;
            padding: 0;
        }
        .w {
            width: 1920px;
            margin: auto;
        }
        a{
            text-decoration: none;
        }
        a:link{
            color: #000;
        }
        a:hover{
            color: #000;
        }
        a:visited{
            color: #000;
        }
        a:active{
            color: #000;
        }
        .nav {
            position: relative;
            height: 80px;
            background-color: #fff;
            font-size: 20px;
            font-family: 'PingFang SC';
        }
        .pic{
            position: absolute;
            left: 300px;
            height: 80px;
            width: 80px;
        }
        .pic img{
            width: 80px;
        }
        .home{
            position: absolute;
            left: 400px;
            width: 100px;
            height: 80px;
            line-height: 80px;
            text-align: center;
        }
        .stacks{
            position: absolute;
            left: 500px;
            width: 100px;
            height: 80px;
            line-height: 80px;
            text-align: center;
        }
        .borrow{
            position: absolute;
            left: 600px;
            width: 100px;
            height: 80px;
            line-height: 80px;
            text-align: center;
        }
        .friendCircle{
            position: absolute;
            left: 700px;
            width: 100px;
            height: 80px;
            line-height: 80px;
            text-align: center;
        }
        .nav span{
            cursor: pointer;
        }
        .navMain span:hover{
            border-bottom: #3f74b3 solid 2px;
        }
        .search{
            position: absolute;
            left: 900px;
            height: 80px;
            line-height: 80px;
        }
        .search input{
            padding: 3px;
            height: 30px;
            width: 230px;
            border: 0px;
            border-radius: 5px;
            background: #A8D6F7;
        }
        .icon-sousuo1{
            font-size: 20px;
        }
        #searchIcon{
            position: absolute;
            left: 210px;
            top: 3px;
        }
        .personal{
            position: absolute;
            left: 1300px;
            height: 80px;
        }
        .personal img{
            position: absolute;
            display: inline-block;
            right: 20px;
            top: 10px;
            height: 60px;
            border-radius: 50%;
        }
        .message{
            position: absolute;
            top: 23px;
            left: 1290px;
        }
        .icon-xiaoxi{
            font-size: 30px;
        }
        .subject{
            position: absolute;
            left: 1340px;
            top: 23px;
        }
        .icon-yejian{
            font-size: 30px;
        }
        .logReg{
            position: absolute;
            left: 1390px;
            top: 25px;
        }
        .hiddenLog{
            display: none;
        }
        .carouselMap{
            position: relative;
            top: 5px;
            height: 712px;
            overflow: hidden;
        }
        .carouselMapPic {
            position: absolute;
            left: 0%;
            width: 300%;
            height: 100%;
            transition: all 1s linear;
        }
        .carouselMapPic li{
            width: 1920px;
            height: 712px;
            float: left;
            list-style: none;
        }
        .carouselMapPic li img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .lis{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);

        }
        .lis li{
            list-style: none;
            float: left;
            margin-left: 10px;
            width: 15px;
            height: 15px;
            background-color: #d9d9d9;
            border-radius: 50%;
        }
        .lis .lisSelect{
            background-color: #979797;
            /* background-color: #000; */

        }
        .recommand{
            position: absolute;
            top: 20px;
            left: 225px;
            width: 1085px;
            height: 947px;
            padding: 5px;
            background-color:#fff;
            border-radius: 20px;
            overflow: hidden;
        }
        .recHead{
            position: relative;
        }
        .recommandText{
            position: absolute;
            left: 52px;
            top: 36px;
            width: 259px;
            height: 65px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 63px;
        }
        
        .middle{
            position: relative;
            height: 2900px;
            background: #E4F4F4;
        }
        .boundary{
            position: absolute;
            top: 84px;
            left: 245px;
            display: inline-block;
            background: #E3E3E3;
            width: 500px;
            height: 3px;
        }
        .recommandBook{
            position: absolute;
            top: 155px;
            left: 44px;
            background-color: #fff;
            width: 2100px;
            height: 603px;
            transition: ease-in 0.5s;
        }
        .recBook{
            position: relative;
            top: 40px;
            display: inline-block;
            margin-right: 65px;
            margin-bottom: 60px;
            width: 193px;
            height: 300px;
        }
        .recBook img{
            width: 100%;
            height: 244px;
            object-fit: cover;
        }
        .recBook img:hover{
            transform: scale(110%);
        }
        .recBook div{
            display: inline-block;
            width: 193px;
            text-align: center;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 50px;
        }
        .recFoot{
            position: absolute;
            bottom: 20px;
            left: 44px;
        }
        .recFoot span{
            cursor: pointer;
        }
        .icon-xiangzuo{
            font-size: 40px;
        }
        .icon-xiangyou{
            font-size: 40px;
        }
        .footText{
            position: absolute;
            left: 800px;
            top: -20px;
            display: inline-block;
            background: #BCE7FA;
            color: #fff;
            text-align: center;
            width: 150px;
            height: 50px;
            line-height: 30px;
            border-radius: 10px;
            border: 0px;
            cursor: pointer;
            font-size: 18px;
        }
        .footText::after{
            position: absolute;
            top: 8px;
            right: 8px;
            content: '\00bb';
            font-size: 38px;
            opacity: 0;
            transition: 0.5s;
        }
        .footText:hover::after{
            opacity: 1;
            padding-right: 10px;
        }
        .rank{
            position: absolute;
            top: 20px;
            left: 1334px;
            height: 947px;
            width: 366px;
            background-color: #fff;
            border-radius: 20px;
        }
        .rankText{
            position: absolute;
            top: 10px;
            left: 8px;
            font-size: 45px;
        }
        .rankBookOuter{
            position: absolute;
            top: 70px;
            left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 750px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 33px;
        } 
        .rankBookOuter li{
            display: block;
            list-style: none;
            height: 85px;
            line-height: 60px;
        }
        .rankBookOuter li span{
            cursor: pointer;
        }
        .hotReview{
            position: absolute;
            top: 1000px;
            left: 225px;
            width: 1480px;
            height: 900px;
            background-color: #fff;
            border-radius: 20px;
        }
        .hotRevText{
            position: absolute;
            left: 58px;
            top: 60px;
            height: 60px;
            width: 1300px;
            line-height: 60px;
            font-size: 45px;
            border-bottom: whitesmoke solid 5px;
        }
        .hotRevConOuter{
            position: absolute;
            top: 150px;
            left: 58px;
            height: 650px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .hotRevContent{
            position: relative;
            width: 1300px;
            height: 300px;
        }
        #hotRevBookImg{
            position: absolute;
            top: 30px;
        }
        #hotRevAvaImg{
            position: absolute;
            top: 200px;
            left: 200px;
            width: 50px;
            border-radius: 50%;
        }
        #hotRevUsrName{
            position: absolute;
            top: 200px;
            left: 250px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            height: 50px;
            line-height: 50px;
        }
        #hotRevContHead{
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            position: absolute;
            top: 30px;
            left: 200px;
        }
        #hotRevContBody{
            position: absolute;
            left: 200px;
            top: 110px;
            width: 854px;
            height: 111px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;

        }
        #learnMoreRev{
            position: absolute;
            right: 200px;
            bottom: 60px;
            background: #BCE7FA;
            color: white;
            text-align: center;
            width: 150px;
            height: 50px;
            line-height: 30px;
            border-radius: 10px;
            border: 0px;
            cursor: pointer;
            font-size: 18px;
        }
        #learnMoreRev::after{
            position: absolute;
            top: 8px;
            right: 8px;
            content: '\00bb';
            font-size: 38px;
            opacity: 0;
            transition: 0.5s;
        }
        #learnMoreRev:hover::after{
            opacity: 1;
            padding-right: 10px;
        }
        .icon-xiangxiazhanhang{
            font-size: 30px;
        }
        .hotRevFoot{
            position: absolute;
            top: 530px;
            left: 455px;
        }
        .notice{
            position: absolute;
            top: 2000px;
            left: 225px;
            width: 1480px;
            height: 792px;
            border-radius: 20px;
            background-color: #fff;
        }
        .notText{
            position: absolute;
            top: 60px;
            left: 58px;
            width: 900px;
            font-size: 30px;
            font-size: 45px;
        }
        .notConOuter{
            position: absolute;
            top: 150px;
            left: 58px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;
            width: 1400px;
            height: 600px;
        }
        .notContent{
            width: 1400px;
            height: 280px;
        }
        .notContent span{
            font-size: 32px;
        }
        .footer{
            position: relative;
            height: 425px;
            background: #C6D0D1;
        }
        .footer ul{
            position: absolute;
            top: 94px;
            left: 50%;
            transform: translateX(-50%);
        }
        .footer li{
            display: inline-block;
            margin-right: 10px;
            padding-right: 20px;
            list-style: none;
            font-size: 24px;
            border-right: #fff solid 5px;
        }
        .footer .footLast{
            border-right: #fff solid 0px;
        }
        .copyRight{
            position: absolute;
            bottom: 70px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 24px;
        }
        .notContent p{
            font-size: 30px;
            padding-left: 25px;
            margin-top: 20px;
        }