* {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e4f4f4;
}

.nav {
    position: relative;
    height: 80px;
    background-color: white;
}

.pic {
    position: absolute;
    left: 300px;
    height: 80px;
    width: 80px;
}

.pic img {
    width: 80px;
}

.home {
    position: absolute;
    left: 400px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.stacks {
    position: absolute;
    left: 500px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.borrow {
    position: absolute;
    left: 600px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.friendCircle {
    position: absolute;
    left: 700px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.nav span {
    cursor: pointer;
}

.navMain span:hover {
    border-bottom: #3f74b3 solid 2px;
}

.search {
    position: absolute;
    left: 900px;
    height: 80px;
    line-height: 80px;
}

.search input {
    padding: 3px;
    height: 30px;
    width: 230px;
    border: 0px;
    border-radius: 5px;
    background-color: #f4f8fa;
}

.icon-sousuo1 {
    font-size: 20px;
}

#searchIcon {
    position: absolute;
    left: 210px;
    top: 3px;
}

.personal {
    position: absolute;
    left: 1300px;
    height: 80px;
}

.personal img {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 10px;
    height: 60px;
    border-radius: 50%;
    ;
}

.message {
    position: absolute;
    top: 23px;
    left: 1290px;
}

.icon-xiaoxi {
    font-size: 30px;
}

.subject {
    position: absolute;
    left: 1340px;
    top: 23px;
}

.icon-yejian {
    font-size: 30px;
}

.logReg {
    position: absolute;
    left: 1390px;
    top: 25px;
}

.typeCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    margin-top: 30px;
}

.selectionBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 201px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
}

.selectionBar .selectBox {
    position: relative;
    font-size: 26px;
}

input {
    width: 595px;
    height: 62px;
    font-size: 20px;
    color: #a2a4a6;
    background-color: #e2effb;
    border: none;
    border-radius: 32px;
}

.selectionBar .selectedSign {
    display: none;
    position: absolute;
    top: -5px;
    left: 5px;
    height: 30px;
    border: 5px solid #90c8fb;
}

.information {
    position: absolute;
    right: 0;
    top: 0;
    width: 941px;
}

.information>div {
    margin-bottom: 30px;
    background-color: white;
}

.information .tab {
    display: flex;
    height: 40px;
    font-size: 28px;
    line-height: 40px;
}

.information .tab span {
    flex: 1;
    border-bottom: 1px solid #eef8f8;
}

.information .tab .changes {
    display: block;
    font-size: 17px;
    color: #999999;
    border-bottom: 1px solid #eef8f8;
}

.information .tab .preserve {
    display: none;
    font-size: 17px;
    color: #999999;
    border-bottom: 1px solid #eef8f8;
}

.information .details {
    position: relative;
}

.information .personInformation {
    padding: 0 20px 0 40px;
    width: 941px;
    height: 381px;
}

.information .contactWay {
    padding: 0 20px 0 40px;
    width: 941px;
    height: 381px;
}

.information .bind {
    padding: 0 20px 0 40px;
    width: 941px;
    height: 181px;
}

.information .changePassword {
    padding: 0 20px 0 40px;
    width: 941px;
    height: 282px;
}

.information .details .profilePhoto {
    margin-top: 42px;
    width: 142px;
    height: 142px;
    background-color: thistle;
    border: 2px solid black;
    border-radius: 50%;
}

.information .details>button {
    position: absolute;
    top: 68px;
    left: 150px;
    background-color: white;
    border: none;
    font-size: 17px;
}

.information .personInformation .genderGelection {
    height: 60px;
    line-height: 60px;
}

.information .personInformation .genderGelection input {
    width: 13px;
    height: 13px;
}

.information .personInformation .details>input {
    position: absolute;
    top: 12px;
    left: 232px;
}

.information .personInformation .details>.birthDay {
    top: 114px;
}

.information .contactWay input {
    display: block;
    margin-top: 40px;
}

.information .bind input {
    display: block;
    margin-top: 40px;
}

.information .changePassword .details>input {
    display: inline-block;
    margin-top: 40px;
}