        body{
            background-image: url("https://ta0.oss-cn-beijing.aliyuncs.com/%E7%99%BB%E5%BD%95%E9%A1%B5%E9%9D%A2-%E8%83%8C%E6%99%AF%E5%9B%BE.jpg");
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }
        .outer {
            position: relative;
            margin: auto;
            top: 40px;
            width: 600px;
            height: 650px;
            background-color: #fff;
            border-radius: 20px;
        }
        .text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 50px;
            font-size: 25px;
        }
        .text img{
            position: relative;
            top: 10px;
            width: 40px;
        }
        .info{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 130px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 400px;
        }
        #realName,
        #inviCode,
        #account,
        #pwd{
            height: 30px;
            width: 200px;
            border-radius: 5px;
            border: honeydew solid 3px;
            padding: 10px;
            font-size: 20px;
            background-color: #e4f4f4;
        }
        .department,
        .issueNum{
            height: 30px;
            width: 200px;
            border-radius: 5px;
            border: honeydew solid 3px;
            padding: 10px;
            font-size: 20px;
            background-color: #fff;
            color: #757575;
            background-color: #e4f4f4;
        }
        .department{
            position: relative;
        }
        .depContent,
        .issueNumCont{
            display: none;
        }
        .department:hover .depContent,
        .issueNum:hover .issueNumCont{
            display: block;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            min-width: 100px;
            z-index: 1;
        }
        .issueNum{
            position: relative;
        }
        #btn {
            position: absolute;
            top: 560px;
            left: 50%;
            width: 130px;
            height: 50px;
            border-radius: 5px;
            background-color: #fff;
            font-size: 20px;
            cursor: pointer;
            border: 0px;
            background-color: #90c8fb;
        }
        #btn:hover {
            background-color: #00aae6;
        }
        p {
            cursor: pointer;
        }