
* {
    margin: 0;
}

a {
    text-decoration: none;
}

.nav {
    position: relative;
    height: 80px;

}

.pic {
    position: absolute;
    left: 300px;
    height: 80px;
    width: 80px;
}

.pic img {
    width: 80px;
}

.home {
    position: absolute;
    left: 400px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.stacks {
    position: absolute;
    left: 500px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.borrow {
    position: absolute;
    left: 600px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.friendCircle {
    position: absolute;
    left: 700px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.nav span {
    cursor: pointer;
}

.navMain span:hover {
    border-bottom: #3f74b3 solid 2px;
}

.search {
    position: absolute;
    left: 900px;
    height: 80px;
    line-height: 80px;
}

.search input {
    padding: 3px;
    height: 30px;
    width: 230px;
    border: 0px;
    border-radius: 5px;
    background-color: #f4f8fa;
}

.icon-sousuo1 {
    font-size: 20px;
}

#searchIcon {
    position: absolute;
    left: 210px;
    top: 3px;
}

.personal {
    position: absolute;
    left: 1300px;
    height: 80px;
}

.personal img {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 10px;
    height: 60px;
    border-radius: 50%;
    ;
}

.message {
    position: absolute;
    top: 23px;
    left: 1290px;
}

.icon-xiaoxi {
    font-size: 30px;
}

.subject {
    position: absolute;
    left: 1340px;
    top: 23px;
}

.icon-yejian {
    font-size: 30px;
}

.logReg {
    position: absolute;
    left: 1390px;
    top: 25px;
}

.typeCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 1000px;
    width: 1200px;
}

.selectedGoodBooks {
    position: relative;
    background-color: burlywood;
}

.selectedGoodBooks .title {
    float: left;
    width: 50px;
    text-align: center;
    background-color: dodgerblue;
}

.classification {
    margin-top: 60px;
    border: 5px solid black;
}

.books {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.book {
    cursor: pointer;
    height: 220px;
    width: 150px;
    background-color: darkgreen;
}

.book:hover {
    transform: translateY(-5px);
}

.classification .classifiedNavigationBar {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: cornsilk;
}

.classification .classifiedNavigationBar>.classLabel {
    width: 8%;
    background-color: palegreen;
}

.classification .classifiedNavigationBar>.classificationDetails {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.classification .classifiedNavigationBar>.classificationMark {
    width: 4%;
    background-color: palegreen;
}

.classification .classifiedNavigationBar>.classificationDetails .unSign {
    cursor: pointer;
    border: none;
}

.classification .classifiedNavigationBar>.classificationDetails .signed {
    cursor: pointer;
    border-bottom: 3px solid black;
}

.classification .viewMoreBooks {
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: cornflowerblue;
}