* {
    margin: 0;
}

.color {
    height: 1814px;
    background-color: #e4f4f4;
}

.w {
    width: 1920px;
    margin: auto;
}

a {
    text-decoration: none;
}

a:link {
    color: #000;
}

a:hover {
    color: #000;
}

a:visited {
    color: #000;
}

a:active {
    color: #000;
}

.nav {
    position: relative;
    height: 80px;
    background-color: #fff;
    font-size: 20px;
    font-family: 'PingFang SC';
}

.pic {
    position: absolute;
    left: 300px;
    height: 80px;
    width: 80px;
}

.pic img {
    width: 80px;
}

.home {
    position: absolute;
    left: 400px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.stacks {
    position: absolute;
    left: 500px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.borrow {
    position: absolute;
    left: 600px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.friendCircle {
    position: absolute;
    left: 700px;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.nav span {
    cursor: pointer;
}

.navMain span:hover {
    border-bottom: #3f74b3 solid 2px;
}

.search {
    position: absolute;
    left: 900px;
    height: 80px;
    line-height: 80px;
}

.search input {
    padding: 3px;
    height: 30px;
    width: 230px;
    border: 0px;
    border-radius: 5px;
    background: #A8D6F7;
}

.icon-sousuo1 {
    font-size: 20px;
}

#searchIcon {
    position: absolute;
    left: 210px;
    top: 3px;
}

.personal {
    position: absolute;
    left: 1300px;
    height: 80px;
}

.personal img {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 10px;
    height: 60px;
    border-radius: 50%;
}

.message {
    position: absolute;
    top: 23px;
    left: 1290px;
}

 .message .icon-xiaoxi {
    font-size: 30px;
}

.subject {
    position: absolute;
    left: 1340px;
    top: 23px;
}

.subject .icon-yejian {
    font-size: 30px;
}

.logReg {
    position: absolute;
    left: 1390px;
    top: 25px;
}

.hiddenLog {
    display: none;
}

.typeCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
}

.selectedGoodBooks {
    position: relative;
    top: 60px;
    height: 601px;
    background-color: #fafafa;
    box-shadow: 0px 0px 20px 20px rgba(221, 236, 236, .3);
}

.selectedGoodBooks .title {
    float: left;
    position: relative;
    width: 81px;
    height: 100%;
    font-size: 35px;
    background-color: #ffffff;
}

.selectedGoodBooks .title div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #576e80;
}

.classification {
    margin-top: 120px;
    height: 1055px;
    background-color: white;
    box-shadow: 0px 0px 20px 20px rgba(221, 236, 236, .3);
}

.allBooks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.books {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.bookPic {
    cursor: pointer;
    height: 180px;
    width: 122px;
    background-color: #d9d9d9;
    border-radius: 5%;
}
.bookPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookPic:hover {
    transform: translateY(-5px);
}

.bookName {
    font-size: 24px;
    text-align: center;
}

.allClassedBooks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 1081px;
    height: 878px;
}

.classification .classifiedNavigationBar {
    display: flex;
    height: 75px;
    width: 100%;
    font-size: 32px;
    line-height: 75px;
    color: #576e80;
    text-align: center;
    background-color: white;
}

.classification .classifiedNavigationBar>.classLabel {
    width: 10%;
    font-size: 43px;
}

.classification .classifiedNavigationBar>.classificationDetails {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.classification .classifiedNavigationBar>.classificationMark {
    width: 12%;
    cursor: pointer;
}

.classification .classifiedNavigationBar>.classificationMark img {
    margin-top: 8px;
    height: 85%;
}

.classification .classifiedNavigationBar>.classificationDetails .unSign {
    cursor: pointer;
    border: none;
}

.classification .classifiedNavigationBar>.classificationDetails .signed {
    color: rgba(144,200,251,1);
    cursor: pointer;
    border-bottom: 5px solid rgba(144, 200, 251, 1);
}

.classification .classifiedNavigationBar>.classificationDetails div:hover {
    color: rgba(144, 200, 251, 1);
    border-bottom: 5px solid rgba(144, 200, 251, 1);
}

.classification .viewMoreBooks {
    cursor: pointer;
    margin: 0 auto;
    width: 302px;
    height: 76px;
    background-color: #e4f4f4;
    line-height: 76px;
    text-align: center;
    font-size: 30px;
    color: #666666;
    border-radius: 40px;
}

.classification .viewMoreBooks .icon-xiangxiazhanhang {
    font-size: 30px;
}

.footer {
    margin: auto;
    position: relative;
    height: 425px;
    width: 1920px;
    background: #C6D0D1;
    color: white;
    font-size: 24px;
}

.footer .absoluteUs {
    position: absolute;
    top: 93px;
    left: 50%;
    transform: translateX(-50%);
    height: 33px;
    width: 842px;
}

.footer .absoluteUs>div {
    display: inline-block;
    width: 160px;
    border-left: 3px solid white;
    text-align: center;
}

.footer .absoluteUs>div:nth-child(1) {
    border-left: none;
}

.footer .copyright {
    position: absolute;
    top: 276px;
    left: 50%;
    transform: translateX(-50%);
}
.color {
    width: 1920px;
    margin: auto;
}